{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GoConnexions</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/styles.css" rel="stylesheet" />-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top"> <img  src="{% static 'img/logo.png' %}" alt="" /> <b style="color:red;">G</b>o <b style="color:red;">C</b>onnexions</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#immigrations">GoImmigrations</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">GoEvents</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Nous Contacter</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead" style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url({% static 'sendemails/assets/img/bg-masthead.jpg'%});">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Votre endroit préféré pour améliorer votre activité et vos connexions</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Êtes-vous entrepreneurs? on vous propose des solutions pour évoluer dans votre activité, et améliorer vos connexions avec vous et vos partenaires!</p>
                        <a class="btn btn-primary btn-xl" href="#about">En savoir plus!</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Nous avons ce dont vous avez besoin!</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Si vous êtes un nouvel immigrant, sachez que vous n’êtes pas seul dans cette aventure. On vous propose une variété de services d’établissement pour vous aider à vous intégrer et à bâtir la vie que vous souhaitez.!</p>
                        <p class="text-white-75 mb-4">En tant qu’entrepreneur, vous n’êtes pas seul dans votre parcours. On vous conseils pour améliorer vos activités et connexions.!</p>
                        <p class="text-white-75 mb-4">Par GoPodCast, GoConnexions vous permet de profiter de l’expérience pratiques des entrepreneurs de notre réseau. Vous avez droit aussi à des conseils pratiques qui feront propulser votre business très rapidement.!</p>
                        <p class="text-white-75 mb-4">Découvrez nos formations hautement spécialisées conçues pour vous guider dans la construction et la croissance de votre entreprise. Enrichissez vos connexions d’affaires grâce à nos rencontres de réseautage exclusives. Bénéficiez également d’un coaching PERSONNALISÉ approfondi d’une durée totale de 1h30. Vous êtes au cœur de notre engagement pour votre succès entrepreneurial.!</p>
                        <p class="text-white-75 mb-4">La visibilité et la notoriété des entreprises ont été bouleversées par internet avec son bouquet de réseaux sociaux qui imposent une nouvelle manière de se faire connaître. Certes, les clients ne boudent pas les anciennes méthodes qui attirent toujours leur attention. On pourrait dire que c’est l’association des moyens de communication offrent de nouvelles opportunités.govisibilite!</p>
                        <p class="text-white-75 mb-4">Si votre site ou votre blog est perdu dans les limbes de Google et vous ramène bien trop peu de visiteurs, vous avez atterri au bon endroit..!</p>
                        
                        <a class="btn btn-light btn-xl" href="#services">Nos Services!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">A votre Service</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Visibilité</h3>
                            <p class="text-muted mb-0">améliorer la visibilité de vos produits!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Info Immigrations</h3>
                            <p class="text-muted mb-0">On vous propose une variété de services pour vous aider.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Events</h3>
                            <p class="text-muted mb-0">On propose aux entrepreneurs plusieurs events pour améliorer leurs activité!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Relationnelles</h3>
                            <p class="text-muted mb-0">On propose une variété de services pour avoir des connexions professionnelles</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          <!-- immigrations-->
          <section class="page-section page-section bg-dark text-white" id="immigrations">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Êtes-vous un nouveau immigrant?</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <p class="text-white-75 mb-4">Bienvenue au Canada : Découvrez à quoi vous attendre au cours de vos premières semaines au pays, notamment en matière de soins de santé, de logement, de planification financière et d’inscription des enfants à l’école</p>
                    <p class="text-white-75 mb-4">Apprendre en s’amusant : Explorez des jeux, des casse-têtes et du matériel pédagogique pour en savoir plus sur la citoyenneté et l’immigration</p>
                    <p class="text-white-75 mb-4">Se protéger contre la fraude : Recevez des conseils pour éviter d’être victime de fraudes ou d’arnaques ciblant les nouveaux arrivants</p>
                    <p> 
                       <img class="img-fluid" src="{% static 'img/immig.jpg' %}" alt="entrepreneurs" />
                    </p>
                    <p class="text-white-75 mb-4">Présenter une demande de citoyenneté : Si vous souhaitez devenir citoyen canadien, vous trouverez des informations sur les exigences et les étapes pour présenter une demande de citoyenneté</p>
                    <p class="text-white-75 mb-4">Trouver des services aux immigrants offerts près de chez soi : Vous pouvez découvrir les services disponibles dans votre région pour vous aider dans votre recherche d’emploi, votre adaptation à la collectivité et d’autres aspects de votre vie quotidienne</p>
                    <p class="text-white-75 mb-4">Se protéger contre la fraude : Recevez des conseils pour éviter d’être victime de fraudes ou d’arnaques ciblant les nouveaux arrivants</p>
                    <p class="text-white-75 mb-4">Demande de carte de résident permanent ou de citoyenneté canadienne : Si vous êtes un nouvel arrivant au Canada, vous pouvez présenter une demande pour obtenir une carte de résident permanent ou explorer les démarches pour devenir citoyen canadien.</p>
                        
                </div>
                <!--form-->
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                        <div class="col-lg-6">
                            <p class="text-muted mb-5">Laissez-nous votre contact pour avoir plus de détails sur les services d'immigrations offerte!</p>
                            <form id="contactFormImmig" method="post" action="{% url 'submit_event' %}">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="name" name="name" type="text" placeholder="Entrer ton courriel..." data-sb-validations="required" />
                                    <label for="name">Votre courriel\téléphone pour avoir plus d'informations..</label>
                                    <div class="d-grid"><input class="btn btn-primary btn-xl" type="submit" value="Contacter Nous pour ce service"></div>
                                     
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end django form-->
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'img/bus.jpg' %}" title="entrepreneurs">
                            <img class="img-fluid" src="{% static 'img/bus.jpg' %}" alt="entrepreneurs" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Relationnelles</div>
                                <div class="project-name">Avoir des nouveaux contacts</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'img/bus1.jpg' %}" title="entrepreneurs">
                            <img class="img-fluid" src="{% static 'img/bus1.jpg' %}" alt="entrepreneurs" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Productivité</div>
                                <div class="project-name">Améliorer la Productivité par nos events</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'img/bus3.jpg' %}" title="entrepreneurs">
                            <img class="img-fluid" src="{% static 'img/bus3.jpg' %}" alt="entrepreneurs" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Relationnelles</div>
                                <div class="project-name">Contacter des nouveaux entrepreneurs</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'img/bus2.jpg' %}" title="entrepreneurs">
                            <img class="img-fluid" src="{% static 'img/bus2.jpg' %}" alt="entrepreneurs" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Revenu</div>
                                <div class="project-name">Améliorer vos revenu et votre visibilité</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'img/bus4.jpg' %}" title="entrepreneurs">
                            <img class="img-fluid" src="{% static 'img/bus4.jpg' %}" alt="entrepreneurs" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">business</div>
                                <div class="project-name">Améliorer votre business</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'img/bus5.jpg' %}" title="entrepreneurs">
                            <img class="img-fluid" src="{% static 'img/bus5.jpg' %}" alt="entrepreneurs" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Revenu</div>
                                <div class="project-name">Améliorer vos revenu</div>
                            </div>
                        </a>
                    </div>
                    
                </div>
                        <!--form-->
                        <div class="container px-4 px-lg-5">
                            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                                <div class="col-lg-6">
                                    <p class="text-muted mb-5">Laissez-nous votre contact pour avoir plus de détails sur les événements a venir!</p>
                                    <form id="contactFormEvent" method="post" action="{% url 'submit_event' %}">
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="name" name="name" type="text" placeholder="Entrer ton courriel..." data-sb-validations="required" />
                                            <label for="name">Votre courriel\téléphone pour avoir plus d'informations..</label>
                                            <div class="d-grid"><input class="btn btn-primary btn-xl" type="submit" value="Contacter Nous pour ce service"></div>
                                             
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end django form-->
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Ameliorer la visibilité de vos services et produits!</h2>
                <iframe width="370" height="208" src="https://www.youtube.com/embed/70EX8JxB7ro" title="Témoignage de Paul Dumetz" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <!--form-->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <p class="text-muted mb-5">Laissez-nous votre contact pour augmenter la visibilité de votre site web ou votre produits!</p>
                        <form id="contactFormVis" method="post" action="{% url 'submit_event' %}">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" name="name" type="text" placeholder="Entrer ton courriel..." data-sb-validations="required" />
                                <label for="name">Votre courriel\téléphone pour avoir plus d'informations..</label>
                                <div class="d-grid"><input class="btn btn-primary btn-xl" type="submit" value="Contacter Nous pour ce service"></div>
                                 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end django form-->
        </section>
        <!-- Contact-->



        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Contactez-nous!</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Prêt à démarrer votre prochain projet avec nous ? Envoyez-nous un message et nous vous répondrons dans les plus brefs délais !</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                                                <!--form-->
                                             
                   <form id="contactFormContact" method="post" action="{% url 'submit_event' %}">
                                                                {% csrf_token %}
                                                                <div class="form-floating mb-3">
                                                                    <input class="form-control" id="name" name="name" type="text" placeholder="Entrer ton courriel..." data-sb-validations="required" />
                                                                    <label for="name">Votre courriel\téléphone pour vous contacter..</label>
                                                                    <div class="d-grid"><input class="btn btn-primary btn-xl" type="submit" value="Contacter Nous"></div>
                                                                     
                                                                </div>
                   </form>
                                             
                                                <!-- end django form-->
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>+1 514-814-1614</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2024 - GoConnexions</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <!--<script src="templates/js/scripts.js"></script>-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
